/*
Orange #f44e01
Gul #f4a41b
Grå #f0f0f0
Hvit #ffffff
Blå: #1239ff (hover farge)
*/

/*------------- HTML MAIN -------------*/
body {
    background-color: #f0f0f0;
    color: #000000;
}

button {
    background-color: #f44e01;
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 20px;
    text-transform: none;

}

button:hover {
    background-color: #1239ff;
}


/*------------- HEADER -------------*/
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    padding: 10px;
    border: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

header {
    background-color: #448557;
    color: #000000;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    top: 100%;
    left: 0;
    position: absolute;
}
