input {
    width: 320px;
    background-color: #f0f0f0;
    border-color: transparent;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
}

.text-box {
    text-align: left;
    margin-left: 36px;
    left: 50%;
    width: 320px;
    text-size-adjust: 60%;
}

.text-over-box {
    font-size: 14px;
}

#checkbox-box {
    text-align: left;
    margin-left: 36px;

}

#outer {
    background-color: #ffffff;
    border: solid 1px;
    border-radius: 8px;
    border-color: #d7d9e3;
    width: 400px;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#header-text {
    margin-bottom: 40px;
    font-weight: 700;
}

#top-margin {
    margin-top: 30px;
}


#checkbox {
    width: 20px;
    height: 15px;
}

#reg-button {
    margin-top: 30px;
}

#error-text {
    margin-top: 10px;
    font-size: 12px;
}

#bottom-margin {
    margin-bottom: 20px;
}
