input {
    width: 320px;
    background-color: #f0f0f0;
    border-color: transparent;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
}
#outer{
    background-color: #ffffff;
    text-align: center;
    border: solid 1px;
    border-radius: 8px;
    border-color: #d7d9e3;
    width: 400px;
    margin-top: px;
    padding: 15px;
    position: absolute;
    top: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#checkbox-box{
    text-align: left;
    margin-left: 36px;
}
#checkbox{
    width: 20px;
    height: 15px;
}
#reg-button{
    margin-top: 10px;
}
.text-box{
    text-align: left;
    margin-left: 36px;
    left: 50%;
    width: 320px;
    text-size-adjust: 60%;
}
