input {
    width: 320px;
    background-color: #f0f0f0;
    border-color: transparent;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
}

.text-box-rsv {
    text-align: left;
    margin-left: 36px;
    left: 50%;
    width: 320px;
    text-size-adjust: 60%;
}

.text-over-box-rsv {
    font-size: 14px;
}

.outer-rsv {
    background-color: #ffffff;
    border: solid 1px;
    border-radius: 8px;
    border-color: #d7d9e3;
    width: 400px;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#checkbox-box-rsv {
    text-align: left;
    margin-left: 36px;
}

#header-text-rsv {
    margin-bottom: 40px;
    font-weight: 700;
}

#top-margin-rsv {
    margin-top: 30px;
}

#checkbox-rsv {
    width: 20px;
    height: 15px;
}

#reg-button-rsv {
    margin-top: 30px;
}

#error-text-rsv {
    margin-top: 10px;
    font-size: 12px;
}

#bottom-margin-rsv {
    margin-bottom: 20px;
}

#completed-button-rsv {
    margin-top: 10px;
}
