#outer{
    background-color: #ffffff;
    text-align: center;
    border: solid 1px;
    border-radius: 8px;
    border-color: #d7d9e3;
    width: 400px;
    margin-top: px;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
